<?xml version="1.0" encoding="UTF-8"?>
<config>
    <actions>
        <action>
            <name>remove-cvs-base-folder</name>
            <type>lua</type>
            <script>actions/lua/remove-cvs-base-folder.lua</script>
        </action>
        <action>
            <name>fix-write-permissions</name>
            <type>lua</type>
            <script>actions/lua/fix-write-permissions.lua</script>
        </action>
    </actions>
    <entries>
        <entry>
            <path>/home/03106709936/devel/siapenet/cvs/54138siapenet/01-Sistema/06-Implementacao/01-Aplicacao/monitoracao</path>
            <recursive>true</recursive>
            <events>create,delete,moved_to,attrib</events>
            <ignore_files>target,bin</ignore_files>
            <actions>
                <action>
                    <name>remove-cvs-base-folder</name>
                    <events>create,moved_to</events>
                    <filter_glob>*/CVS/Base</filter_glob>
                </action>
                <action>
                    <name>fix-write-permissions</name>
                    <events>create,attrib</events>
                    <filter_glob></filter_glob>
                </action>
            </actions>
        </entry>
    </entries>
</config>
